#GameDiv > div {
    position: absolute;
}

#GameDiv {
    position: relative;
    width: 600px; 
    height: 600px; 
    border: 1px solid black; 
    overflow: hidden;
    background-color: rgb(16, 16, 63);
}

#Req {
    height: 600px;
    width: 300px;
    border: 1px solid black;
    color: black;
    text-align: center;
    position: relative;
}

#Player {
    position: absolute;
    width: 15px;
    height: 25.54px;
    background: url('drill.png');
    background-size: 15px 25.54px;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
}

.square {
    display: inline-block;
    width: 20px;
    height: 20px;
}

#SpaceShip {
    width: 64px;
    height: 64px;
    background-image: url('SpaceCraft.png');
    background-size: cover;
    top: 45px;
    left: 50%;
    transform: translate(-50%);
    image-rendering: pixelated;
}

#GameCanvas {
    position: absolute;
    left: -10000px;
}

#Building {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    background: url('Hammer.png');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    display: grid;
    grid-template-columns: repeat(6, auto);
}

#Building div {
    display: none;
}

#Ore {
    top: 5px;
    left: 5px; 
    width: 60px;
    height: 60px;
    border: 1px solid black;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.OreIcon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url('Ores.png');
    background-size: 175px 25px;
    vertical-align: middle;
    image-rendering: pixelated;
}

#Resources {
    height: 600px;
    width: 300px;
    border: 1px solid black;
    color: black;
    text-align: center;
}

#Solar {
    background: url('solarPanel.png');
    background-size: cover;
    image-rendering: pixelated;
}

#Coal {
    background: url('furnace.png');
    background-size: 1440px 60px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

#Wind {
    background: url('wind.png');
    background-size: 60px 60px;
    image-rendering: pixelated;
}

#Raf {
    background: url('Anvil.png');
    background-size: 60px 60px;
    image-rendering: pixelated;
}

#DropLine {
    position: relative;
    width: 100%;
    height: 31px;
    top: 10px;
    box-sizing: border-box;
    background: transparent;
    border: 1px dashed red;
    
}

#DropLine.dragover {
    border: 1px dashed red;
}

#dropped {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#dropped div {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
}